<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aircstnr.loustics">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SUGARORM -->
        <meta-data
            android:name="DATABASE"
            android:value="utilisateurs.db" />
        <meta-data
            android:name="VERSION"
            android:value="0" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="aircstnr.loustics" />

        <activity android:name=".Accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inscription" />
        <activity android:name=".Connexion" />
        <activity android:name=".ChoixExercice"></activity>
    </application>

</manifest>